.container {
    padding-bottom: 5%;
}

.data-table {
    border: 1px solid grey;
    width: 100%;
    text-align: left;
}

.data-table-header {
    background-color: rgb(255, 140, 0);
}

.data-table-row {
    display: flex;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

.data-table-common {
    border-top: 0.2px solid silver;
    line-height: 20px;
}

.data-table-row-s-no {
    padding-right: 6px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

.data-table-row-user {
    font-size: smaller;
}

.data-table-row-padding {
    padding-right: 2px;
    padding-left: 2px;
}

.data-table-inner-row {
    padding-left: 20px;
}

.data-table-row-domain {
    color: darkgray;
    font-size: x-small;
}

.data-table-row-time-ago {
    color: #828282;
    font-size: x-small;
}

.load-more {
    margin-top: 40px;
}

.pagination-nav {
    padding-right: 3px;
    padding-left: 3px;
}

.loader {
    text-align: center;
    font-size: xx-large;
}