.container {
    background-color: rgb(246, 246, 239);
}

.data-table {
    border: 1px solid grey;
    width: 100%;
    text-align: left;
}

.data-table-header {
    background-color: rgb(255, 140, 0);
}

.data-table-row {
    display: flex;
    line-height: 35px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

.data-table-row-s-no {
    padding-right: 6px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}
